
.headerContent {
  display: flex;
  height: 520px;
  width: 100%;
  flex-direction: column;
  align-items: center;
  background-color: #4c889e;
  background-image: url("/public/images/clean-gray-paper.png");
}

.avatar {
  padding-top: 150px;
}

.span {
  color: white;
  font-size: 40px;
}