/* Spans from parent to children */

.navbar {
  display: flex;
  color: #ffffff;
  background-color: #4056A1;
  height: 120px;
  width: 100%;
}

.navContent {
  display: flex;
  margin-left: 1.5em;
  margin-right: 1.5em;
  align-items: center;
  justify-content: space-between;
}

.logo {
  font-family: Bungee, sans-serif;
}  

i {
  size: 300px;
  color: red;
}