.article {
  display: flex;
  border: 3px solid #152952;
  flex-direction: column; 
  flex:1;
  margin: auto;
  margin-bottom: 15px;

}

.article:hover {
  box-shadow: 10px 10px 11px -1px  #4854d1; 
}

.tweet-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex:1;
  margin-top: 10px;
  padding: 15px;
}

.tweet-body {
  flex:1;
  padding: 15px;
}

.footer{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-top: 2px solid #152952;
  padding: 15px;
  margin: 5px;

}

.person {
  display: flex;
  flex-direction: row;
}

.face {
  padding-right: 10px;
}

.fa-flag {
  color: #152952;
}
.fa-retweet {
  color: #152952;
}
.fa-heart {
  color: #152952;
}
.fa-flag:hover:hover{
  color: red
}
.fa-retweet:hover{
 color:green
}
.fa-heart:hover{
 color:#9b0404;
}